<section class="about__page" >
<h1 class="title"> Rick and Morty GraphQL APP </h1>
<div class="about__container">
    <p class="about__paragraph">
      Angular 11 + Rick and Morty GraphQL APP
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, doloribus voluptates recusandae cumque quia expedita adipisci iure itaque inventore, enim corporis fuga deleniti? Tenetur molestias maxime sequi aperiam illum ipsam!
    </p>
    <figure class="about__img">
      <!-- el rel y el as para mejorar el CEO de la pagina -->
      <img src="/assets/imgs/web_dev.svg" alt="" class="about__picture" rel="preload" as="image" width="406" height="306" >
    </figure>
  </div>
<p class="about__copy">
  Developed by <span class="text-white">Moises Camacho</span>
</p>

</section>
